
/* FOOTER */
.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #EB5B00;
}

.footer .brand h1 {
  color: #FFFFFF;
  font-size: 100px;
  font-weight: 700;
  text-align: left;  
  display: none;
}
.footer .content .link {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.footer .content p {
  line-height: 1em;
  color: #FFFFFF;
  font-size: 15px;
}
.footer .content .link {
  gap: 1.2em;
}
.footer .content .link p {
  text-decoration: none;
  cursor: pointer;
  margin: 0;
}

@media (max-width: 991px) {
  .footer {padding-bottom: 50px;}
  .footer .main-content {gap: 3em;}
  .footer img {
    display: flex;
    margin: auto;
    width: 50%;
  }
  .footer .content .link p {
    text-align: center;
    text-decoration: none;
  }
}