/* BODY */
body h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Anek Devanagari", sans-serif;
}

body {
  background: #ffffff !important;
}

img {
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

hr {
  opacity: 1 !important;
  background-color: #EB5B00 !important;
  height: 1px !important;
}

/* SECTIONS */
section {
  padding-top: 100px;
}

/* SECTION - ONE */
.section-one {
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 2.5%;
}

.hero-section {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.hero-section .content {
  background: #EB5B00;
  color: #ffffff;
  height: 30em;
  border-radius: 50px;
}

.hero-section .content .heading {
  padding: 6em;
}

.hero-section .content h1 {
  font-size: 150px;
  font-weight: 700;
  text-align: left; 
  line-height: 150px;
}

.hero-section .content h2 {
  font-size: 96px;
  font-weight: 600;
  line-height: 48px; 
}

.hero-section .text p {
  font-family: Noto Sans;  
  font-size: 30px;
  font-weight: 500;
  line-height: 50px;
  text-align: left;  
  padding-top: 100px;
  padding-bottom: 50px;
  padding-inline: 60px;
}

@media (max-width: 991px) {
  .hero-section .content {
    height: 30em;
    display: flex;
    align-items: center;
    border-radius: 30px;
  }
  .hero-section .content .heading {padding: 2em;}
  .hero-section .content h1 {
    font-size: 44px;
    line-height: 50px;
  }
  .hero-section .content h2 {
    font-size: 32px;
    line-height: 20px;
  }
  .hero-section .text p {
    font-size: 16px;
    line-height: 28px;
    padding-block: 48px;
    padding-bottom: 20px;
    padding-inline: 12px;
  }
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: 0px;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: 0px;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* .section-one .hero-button {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
  -webkit-animation: tracking-in-expand 0.4s ease-in-out both;
  animation: tracking-in-expand 0.4s ease-in-out both;
} */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

/* Add animation (fade in and fade out) */

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@media (max-width: 992px) {
  .section-one .row {
    margin-top: 0;
  }

  @-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -5px;
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }

    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }

  @keyframes focus-in-expand {
    0% {
      letter-spacing: -5px;
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }

    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
}

/* SECTION - TWO */
.section-two {
  padding-top: 80px;
  display: flex;
  align-items: center;
}

.section-two .content {padding-inline: 60px; padding-bottom: 60px;}

.section-two .content h1 {
  font-size: 60px;
  font-weight: 600;
  text-align: left; 
  color: #EB5B00; 
  margin-bottom: 30px;
}

.section-two .content p {
  font-family: Noto Sans; 
  font-size: 30px;
  font-weight: 500;
  line-height: 50px;
  text-align: left;  
}


@media (max-width: 991px) {
  .section-two {padding-top: 40px;}
  .section-two .content {
    padding-inline: 10px;
    padding-bottom: 20px;
  }
  .section-two .content h1 {
    font-size: 36px;
  }
  .section-two .content p {
    font-size: 16px;
    line-height: 28px;
  }
}



/* SECTION THREE */
.section-three {
  padding-top: 80px;
}
.section-three .title h1, .section-four .title h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 70px;
  text-align: center;
  margin-bottom: 0.75em;
  color: #EB5B00;
}
.section-three .items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 3em;
  grid-row-gap: 1em;
  justify-content: center;
}
.section-three .item {
  border-radius: 20px;
  padding: 0.8em;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.section-three .item img {
  display: flex;
  margin-bottom: 5px;
}
.section-three .item h1 {
  font-size: 30px;
  color: #EB5B00;
  text-align: center;
  font-family: noto sans;
}
.section-three .item p {
  font-size: 21px;
  font-family: noto sans;
  width: 75%;
  text-align: center;
}

@media (max-width: 991px) {
  .section-three {padding-top: 40px;}
  .section-three .title h1 {font-size: 36px;}
  .section-three .items {grid-template-columns: repeat(1, 1fr);}
  .section-three .item {
    background: #fefaf8;
    padding: 2em 1em;
  }
  .section-three .item img {height: 5em;}
  .section-three .item h1 {font-size: 21px; font-weight: 600;}
  .section-three .item p {
    font-size: 16px;
    margin: 0;
  }
}


/* SECTION - FOUR */
.section-four {
  padding-top: 70px;
  padding-bottom: 50px;
}
.section-four h1, .section-four p, .section-four a {
  font-family: 'noto sans' !important;
}
/* .section-four .box {
  background: #FEDA94;
  border-radius: 25px;
  padding: 3em;
  margin-bottom: 1em;
}
.section-four .content {
  display: flex;
  justify-content: space-evenly;
}
.section-four .left, .section-four .right {
  max-width: 500px;
  padding: 1em;
}
.section-four .line {
  border-left: 1px solid #9A9A9A;
  height: auto;
}
.section-four .content h1 {
  width: 75%;
  margin: auto;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;  
  margin-bottom: 10px;
}
.section-four ul li {
  font-size: 21px;
  font-weight: 400;
  line-height: 50px;
  text-align: left;  
}
.section-four button {
  color: #ffffff;
  background: #707070;
  border: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  padding: 5px 50px;  
  display: flex;
  margin: auto;
  margin-top: 1.5em;
} */
.section-four .parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 75px;
  grid-row-gap: 0px;
  margin-inline: 100px;
  margin-bottom: 5em;
}
.section-four .parent .box {
  border: 4px solid #EB5B00;
  border-radius: 35px;
  padding: 3em 1.75em 4em 1.75em;
  display: grid;
  gap: 1em;
  justify-items: center;
  text-align: center;
  align-content: space-between;
}
.section-four .box h1 {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 44px;
}
.section-four .box .h1 {
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 30px;
}
.section-four .box ul {padding: 0;}
.section-four .box li {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
}
.section-four .box span {
  font-weight: 800;
  margin-right: 5px;
}
.section-four .button a {
  background: #EB5B00;
  color: #ffffff;
  text-decoration: none;
  padding: 7.5px 40px;
  border-radius: 50px;
}
.section-four .button {transition: 0.4s;}
.section-four .button:hover {scale: 1.05;}
.section-four .content-two,
.section-four .content-three {
  padding-inline: 60px;
}
.section-four .content-two h1,
.section-four .content-three h1 {
  font-size: 56px;
  font-weight: 600;
  line-height: 100px;
  margin-bottom: 0.4em;
  text-align: left;  
  color: #EB5B00;
}
.section-four .content-two p,
.section-four .content-three p {
  font-size: 30px;
  font-weight: 500;
  line-height: 50px;  
  margin-bottom: 2em;
}

@media (max-width: 991px) {
  .section-four {padding-top: 40px; padding-bottom: 60px;}
  /* .section-four .box {padding: 1em;} */
  .section-four .parent {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin: 0;
    grid-row-gap: 1em;
  }
  .section-four .parent .box {
    border: 2.5px solid #EB5B00;
    border-radius: 35px;
    padding: 2em 0.75em 2em 0.75em;
  }
  .section-four .box h1 {
    font-size: 16px;
    line-height: 30px;
  }
  .section-four .box li {
    font-size: 14px;
  }
  .section-four .button a {
    padding: 10px 40px;
  }
  .section-four .box .h1 {
    font-size: 20px;
    line-height: 40px;
  }
  .section-four .content {display: grid;}
  .section-four .content h1 {
    width: 100%;
    font-size: 26px;
    line-height: 36px;
    margin-top: 1em;
  }
  .section-four .content p {
    font-size: 21px;
    line-height: 50px;
  }
  .section-four ul {padding-left: 1em;}
  .section-four ul li {font-size: 14px; line-height: 30px;}
  .section-four .line {border-bottom: 1px solid #9A9A9A;}
  .section-four button {
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 1em;
  }
  .section-four .content-two,
  .section-four .content-three {padding-inline: 10px; padding-top: 30px;}
  .section-four .content-two h1,
  .section-four .content-three h1 {font-size: 30px; margin: 0;}
  .section-four .content-two p,
  .section-four .content-three p {
    font-size: 16px;
    line-height: 30px;
  }
  .section-four .content-three {padding-top: 0;}
}